<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TIW-Image-Manager-Pure-HTML</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/ImageManagerDB?serverTimezone=UTC&amp;rewriteBatchedStatements=true</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>tiw</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>tiw</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>uploadImagePath</param-name>
		<!--Path to reach images folder from request.getServletContext().getRealPath("/")-->
		<param-value>../../var/ImageManager/uploads/images/</param-value>
	</context-param>
	<context-param>
		<param-name>uploadThumbnailPath</param-name>
		<!--Path to reach images folder from request.getServletContext().getRealPath("/")-->
		<param-value>../../var/ImageManager/uploads/images/thumbnails/</param-value>
	</context-param>
	<context-param>
		<param-name>ImageHost</param-name>
		<param-value>/ImageManager</param-value>
	</context-param>
	<context-param>
		<param-name>ImagePath</param-name>
		<!--Path from ImageHost to reach images folder-->
		<param-value>/uploads/images/</param-value>
	</context-param>
	<context-param>
		<param-name>ThumbnailPath</param-name>
		<!--Path from ImageHost to reach thumbnails folder-->
		<param-value>/uploads/images/thumbnails/</param-value>
	</context-param>
	
	<servlet>
    	<servlet-name>Home</servlet-name>
    	<jsp-file>/static/pages/Home.html</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>Home</servlet-name>
    	<url-pattern>/Home</url-pattern>
	</servlet-mapping>
	
	<servlet>
    	<servlet-name>Auth</servlet-name>
    	<jsp-file>/static/pages/Log-In.html</jsp-file>
	</servlet>
	<servlet-mapping>
    	<servlet-name>Auth</servlet-name>
    	<url-pattern>/Auth</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>NotLoggedInFilterAPI</filter-name>
		<filter-class>it.polimi.tiw.albums.filters.NotLoggedInFilterAPI</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>NotLoggedInFilterAPI</filter-name>
		<url-pattern>/UploadImage</url-pattern>
		<url-pattern>/RemoveFromAlbum</url-pattern>
		<url-pattern>/AddToAlbum</url-pattern>
		<url-pattern>/GetImagesByAlbum</url-pattern>
		<url-pattern>/DeleteImage</url-pattern>
		<url-pattern>/CreateAlbum</url-pattern>
		<url-pattern>/GetAlbums</url-pattern>
		<url-pattern>/LogOut</url-pattern>
		<url-pattern>/PostComment</url-pattern>
		<url-pattern>/EditImage</url-pattern>
		<url-pattern>/ResetPictureOrder</url-pattern>
		<url-pattern>/UpdatePictureOrder</url-pattern>
	</filter-mapping>
	
	<welcome-file-list>
		<welcome-file>LogIn</welcome-file>
	</welcome-file-list>
</web-app>