<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Album</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div class="navbar">
		<a href="#" th:href="@{/Home}">Home</a>
		<a href="#" th:href="@{/LogOut}">Log out</a>
	</div>
	<div class="albumEditContainer">
		<form action="#" th:action="@{/AddToAlbum(albumId=${albumId})}" method="post">
			<div class="homeTable">
			<table>
				<tbody>
					<tr class = "odd"
					th:each="picture, iteration:${pictures}"
					th:class="${iteration.odd}?'odd':'even'">
						<td><input type="checkbox" name="newPictures" th:value="${picture.id}"></td>
						<td><img th:src="@{${imageHost} + ${picture.thumbnailPath}}" src="../static/ImagePlaceholder.png"></td>
						<td><p th:text="${picture.title}">Image Title</p></td>
						<td><p th:text="${picture.uploadDate}">22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "odd">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "odd">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "odd">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "odd">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "odd">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "odd">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
					<tr th:if="${false}" class = "even">
						<td><input type="checkbox" name="newPictures"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><p>Image Title</p></td>
						<td><p>22-12-24</p></td>
					</tr>
				</tbody>
			</table>
			</div>
			<div th:if="${error}" th:text="${error}" class="errorText">PlaceHolder error text</div>
			<div class="inlineButtons">
				<input class="btn" type="submit" name="AddPictures" value="Add">
				<a href="#" th:href="@{/Album(albumId=${albumId})}" class="btnSecondary">Cancel</a>
			</div>
		</form>
	</div>
</body>