<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Album</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div class="navbar">
        <a href="#" th:href="@{/Home}">Home</a>
        <a href="#" th:href="@{/LogOut}">Log out</a>
    </div>
	<div id="albumContainer">
		<div class="bigSection" id="imageBrowser">
			<table>
				<tbody>
					<tr>
						<td th:each="colIndex : ${#numbers.sequence(0, pageSize - 1)}">
							<a 	th:if="${colIndex < pictures.size()}"
								th:href="@{/Image(albumId=${album.id},pictureId=${pictures[colIndex].id})}">
								<img th:src="@{${imageHost} + ${pictures[colIndex].thumbnailPath}}">
							</a>
							<p  th:if="${colIndex < pictures.size()}" 
								th:text="${pictures[colIndex].title}"></p>
							<p  th:if="${colIndex >= pictures.size()}" 
								th:text="EmptyCell"></p>
							<form th:if="${colIndex < pictures.size()}" id="buttons" action="#" th:action="@{/RemoveFromAlbum(albumId=${album.id}, pictureId=${pictures[colIndex].id})}" method="post">
								<input class="btn" type="submit" name="Remove" value="Remove">
							</form>
						</td>
					</tr>
				</tbody>
				<tbody th:if="${false}">
					<tr>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
						<td><img src="../static/ImagePlaceholder.png"></td>
					</tr>
				</tbody>
			</table>
			<div class="imageNavigator">
				<a th:if="${hasPrevPictures}" href="#" th:href="@{${prevPicturesPath}}">Previous</a>
				<a th:if="${hasNextPictures}" href="#" th:href="@{${nextPicturesPath}}">Next</a>
			</div>
		</div>
		<div th:if="${isOwner}" class="bigSection" id="imageUploader">
			<form action="#" th:action="@{/UploadImage(albumId=${album.id})}" method="post" id="createAlbumForm" enctype="multipart/form-data" autocomplete="off">
				<input type="text" name="title" placeholder="Image Title">
				<label for="file">Upload Image</label>
				<input type="file" id="file" name="image" multiple>
				<input type="text" name="description" placeholder="Image Description">
				<input type="submit" value="Upload Image" class="btn">
			</form>
			<a href="#" th:href="@{/AddToAlbum(albumId=${album.id})}" class="btn">Add existing Image</a>
		</div>
	</div>
</body>