<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Image</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div class="navbar">
		<a href="#" th:href="@{/Home}">Home</a>
		<a 	href="#"
			th:href="@{/Album(albumId=${album.id}, albumPage=${albumPage})}">Album</a>
		<a href="#" th:href="@{/LogOut}">Log out</a>
	</div>
	<div>
		<div class="imageContainer" id="imageEditor">
			<div id="imageDisplay">
				<div id="imageHeader">
					Edit Image details
				</div>
				<div id="imageWrapper">
					<img 	src="../static/ImagePlaceholder.png"
							th:src="@{${imageHost} + ${picture.path}}"></img>
				</div>
				<form action="#" th:action="@{/EditImage(albumId=${album.id}, pictureId=${picture.id})}" method="post" id="editImageForm" autocomplete="off">
					<div>
						<div id="inlineTextInputs">
							<input type="text" name="title" id="imageTitle" placeholder="Image Title" th:value="${picture.title}">
							<input name="date" type="date" th:value="${picture.uploadDate}">
						</div>
						<textarea name="description" placeholder="Image Description" th:text="${picture.description}"></textarea>
					</div>
					<div>
						<input type="submit" name="Edit" value="Confirm changes" class="btn">
						<input type="submit" name="NotEdit" value="Cancel" class="btnSecondary">
					</div>
				</form>
				<div th:if="${error}" th:text="${error}" class="errorText">PlaceHolder error text</div>
			</div>
		</div>
	</div>
</body>