<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Image</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<ul id="navbar">
		<li><a href="#" th:href="@{/Home}">Home</a></li>
		<li><a href="#" th:href="@{/LogOut}">Log out</a></li>
	</ul>
	<div class="bigSection" id="imageEditor">
		<img 	src="../static/ImagePlaceholder.png"
				th:src="@{${imageHost} + ${picture.path}}"></img>
		<form action="#" th:action="@{/EditImage(albumId=${album.id}, pictureId=${picture.id})}" method="post" id="editImageForm" autocomplete="off">
			<input type="text" name="title" placeholder="Image Title" th:value="${picture.title}">
			<input type="text" name="description" placeholder="Image Description" th:value="${picture.description}">
			<input name="date" type="date">
			<input type="submit" name="Edit" value="Confirm changes" class="btn">
			<input type="submit" name="NotEdit" value="Cancel" class="btn">
		</form>
	</div>
</body>