<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div class="navbar">
        <a href="#" th:href="@{/Home}">Home</a>
        <a href="#" th:href="@{/LogOut}">Log out</a>
    </div>
	<div id="homeContainer">
		<div class="homeColumn">
			<div class="tableWrapper">
				<div class="tableTitle">My Albums</div>
				<div class="homeTable">
					<table>
						<thead>
							<tr>
								<th>Album Title</th>
								<th>Creation Date</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="album, iStat: ${myAlbums}"
								th:class="${iStat.odd}?'odd':'even'" class="odd">
								<td><a href="#" th:text="${album.title}"
									th:href="@{/Album(albumId=${album.id})}">Fallback</a></td>
								<td><a th:text="${album.creationDate}">2024-12-10</a></td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 2</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 3</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 4</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 2</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 3</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 4</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 2</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 3</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 4</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 2</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 3</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 4</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 2</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 3</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 4</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 2</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="even">
								<td><a href="#">Album 3</a></td>
								<td>2024-12-10</td>
							</tr>
							<tr th:if="${false}" class="odd">
								<td><a href="#">Album 4</a></td>
								<td>2024-12-10</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<form action="#" th:action="@{/CreateAlbum}" method="post"
				autocomplete="off">
				<p>Create new Album</p>
				<input 	type="text" name="albumTitle" placeholder="Album Title" required
						maxlength="127" minlength="3"
						pattern="^[a-zA-Z0-9\x21\x40\x23\x24\x25\x5E\x26\x2A\x28\x29\x5F\x2B\x2D\x3D\x5B\x5D\x7B\x7D\x7C\x3B\x3A\x27\x22\x2C\x2E\x3C\x3E\x3F\x2F\x5C\x7E\x20]+$">
				<input type="submit" value="Create Album" class="btn">
				<div th:if="${error}" th:text="${error}" class="errorText">PlaceHolder
					error text</div>
			</form>
		</div>
		<div class="homeColumn">
            <div class="tableWrapper">
                <div class="tableTitle">Other Albums</div>
                <div class="homeTable">
                    <table>
					<thead>
						<tr>
							<th>Title</th>
							<th>Author</th>
							<th>Creation Date</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="album, iStat: ${otherAlbums}"
							th:class="${iStat.odd}?'odd':'even'" class="odd">
							<td><a href="#" th:text="${album.title}"
								th:href="@{/Album(albumId=${album.id})}">FallBack</a></td>
							<td><a th:text="${album.owner}">FallBack</a></td>
							<td><a th:text="${album.creationDate}">2024-12-10</a></td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 1</a></td>
							<td>Author 1</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 2</a></td>
							<td>Author 2</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="odd">
							<td><a href="#">Album 3</a></td>
							<td>Author 3</td>
							<td>2024-12-10</td>
						</tr>
						<tr th:if="${false}" class="even">
							<td><a href="#">Album 4</a></td>
							<td>Author 4</td>
							<td>2024-12-10</td>
						</tr>
					</tbody>
				</table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>