<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<ul id="navbar">
		<li><a href="#">Home</a></li>
		<li><a href="#">Log out</a></li>
	</ul>
	<div id="homeContainer">
		<div class="bigSection">
			<p class="tableTitle">My Albums</p>
			<table>
				<thead>
					<tr>
						<th>Album Title</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td>Album 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bigSection" id="middleDiv">
			<p class="tableTitle">Other Albums</p>
			<table>
				<thead>
					<tr>
						<th>Title</th>
						<th>Author</th>
					</tr>
				</thead>
				<tbody>
					<tr class="odd">
						<td>Album 1</td>
						<td>Author 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
						<td>Author 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
						<td>Author 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
						<td>Author 4</td>
					</tr>
					<tr class="odd">
						<td>Album 1</td>
						<td>Author 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
						<td>Author 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
						<td>Author 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
						<td>Author 4</td>
					</tr>
					<tr class="odd">
						<td>Album 1</td>
						<td>Author 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
						<td>Author 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
						<td>Author 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
						<td>Author 4</td>
					</tr>
					<tr class="odd">
						<td>Album 1</td>
						<td>Author 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
						<td>Author 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
						<td>Author 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
						<td>Author 4</td>
					</tr>
					<tr class="odd">
						<td>Album 1</td>
						<td>Author 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
						<td>Author 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
						<td>Author 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
						<td>Author 4</td>
					</tr>
					<tr class="odd">
						<td>Album 1</td>
						<td>Author 1</td>
					</tr>
					<tr class="even">
						<td>Album 2</td>
						<td>Author 2</td>
					</tr>
					<tr class="odd">
						<td>Album 3</td>
						<td>Author 3</td>
					</tr>
					<tr class="even">
						<td>Album 4</td>
						<td>Author 4</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="bigSection" id="rightDiv">
			<p>Create new Album</p>
			<form action="#" th:action="@{/CreateAlbum}" method="post" id="createAlbumForm" autocomplete="off">
				<input type="text" name="albumTitle" placeholder="Album Title">
				<label for="file">Upload Pictures</label>
				<input type="file" id="file" name="file" multiple>
				<input type="submit" value="Create Album" class="btn">
			</form>
			<div th:if="${error}" th:text="${error}" class="errorText">PlaceHolder error text</div>
		</div>
	</div>
</body>
</html>