<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Image</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<div class="navbar">
		<a href="#" th:href="@{/Home}">Home</a> <a href="#"
			th:href="@{/Album(albumId=${album.id}, albumPage=${albumPage})}">Album</a>
		<a href="#" th:href="@{/LogOut}">Log out</a>
	</div>
	<div>
		<div class="imageContainer">
			<div id="imageDisplay">
				<div id="imageHeader">
					<p id="imageTitle" th:text="${picture.title}">Image Title</p>
					<div id="imageDate" th:text="${picture.uploadDate}">22-12-24</div>
				</div>
				<div id="imageWrapper">
					<img src="../static/ImagePlaceholder.png"
						th:src="@{${imageHost} + ${picture.path}}">
				</div>
				<div id="imageDescription">
				<p th:each="line : ${#strings.arraySplit(picture.description, '\n')}" th:text="${line}">Image
					Description</p>
				</div>
				<div th:if="${isOwner}" class="buttons">
					<a href="#"
						th:href="@{/EditImage(albumId=${album.id}, pictureId=${picture.id})}"
						class="btn">Edit image details</a> <a href="#"
						th:href="@{/DeleteImage(albumId=${album.id}, pictureId=${picture.id})}"
						class="btn">Delete Image</a>
				</div>
			</div>
			<form id="commentForm" action="#"
				th:action="@{/PostComment(albumId=${album.id},pictureId=${picture.id})}"
				method="post">
				<div class="formTitle">New Comment</div>
				<div id="inputs">
					<textarea name="comment" placeholder="Write your comment here..." required maxlength="1023"></textarea>
					<input type="submit" class="btn" value="Post">
				</div>
				<div th:if="${error}" th:text="${error}" class="errorText">PlaceHolder
					error text</div>
			</form>
			<div id="commentSection">
				<div id="commentSectionHeader">
					<div id="commentsTotlaNumber" th:text="${comments.size()}">9</div>
					<div th:text="${comments.size() != 1 ? 'Comments' : 'Comment'}">Comments</div>
				</div>
				<div th:each="comment, commentIndex: ${comments}" class="comment">
					<div class="commentAuthor" th:text="${comment.author}">Author1</div>
					<div class="commentBody">
						<p th:each="line : ${#strings.arraySplit(comment.body, '\n')}" th:text="${line}">Example of a comment body.</p>
					</div>
					<div class="commentDate" th:text="${comment.postDate}">22-12-24</div>
				</div>
				<div th:if="${false}" class="comment">
					<div class="commentAuthor">Author1</div>
					<div class="commentBody">Example of a comment body.</div>
					<div class="commentDate">22-12-24</div>
				</div>
				<div th:if="${false}" class="comment">
					<div class="commentAuthor">Author1</div>
					<div class="commentBody">Example of a comment body.</div>
					<div class="commentDate">22-12-24</div>
				</div>
				<div th:if="${false}" class="comment">
					<div class="commentAuthor">Author1</div>
					<div class="commentBody">Example of a comment body.</div>
					<div class="commentDate">22-12-24</div>
				</div>
			</div>
		</div>
	</div>
</body>