<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
<link rel="stylesheet" type="text/css" media="all"
	href="../CSS/mystyle.css" th:href="@{/CSS/mystyle.css}" />
</head>
<body>
	<span> Already have an account?
		<button>Sign In</button>
	</span>
	<div id="formContainer">
		<h1>Welcome to my page</h1>
		<form action="http://localhost:8080/ImageManagerPureHTML/SignUp"
			method="post">
			<div id="textInputsContainer">
				<div id="textContainer">
					<input type="text" name="username" placeholder="Username" th:value="${username}">
					<input type="email" name="email" placeholder="Email" th:value="${email}">
					<input type="password" name="password" placeholder="Password" th:value="${password}">
					<input type="password" name="repeatPassword"
						placeholder="Repeat password">
				</div>
				<div th:if="${error}" th:text="${error}" class="errorText">PlaceHolder error text</div>
			</div>
			<input type="submit" value="Sign up">
		</form>
	</div>
</body>
</html>