<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>TIW-Image-Manager-Pure-HTML</display-name>
	<context-param>
		<param-name>dbUrl</param-name>
		<param-value>jdbc:mysql://localhost:3306/ImageManagerDB?serverTimezone=UTC</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>tiw</param-value>
	</context-param>
	<context-param>
		<param-name>dbPassword</param-name>
		<param-value>tiw</param-value>
	</context-param>
	<context-param>
		<param-name>dbDriver</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>uploadPath</param-name>
		<!--Path to reach images folder from request.getServletContext().getRealPath("/")-->
		<param-value>../../var/ImageManager/uploads/images/</param-value>
	</context-param>
	<context-param>
		<param-name>ImageHost</param-name>
		<param-value>/ImageManager</param-value>
	</context-param>
	<context-param>
		<param-name>ImagePath</param-name>
		<!--Path from ImageHost to reach images folder-->
		<param-value>/uploads/images/</param-value>
	</context-param>
	<context-param>
		<param-name>ThumbnailPath</param-name>
		<!--Path from ImageHost to reach thumbnails folder-->
		<param-value>/uploads/images/thumbnails/</param-value>
	</context-param>


	<filter>
		<filter-name>NotLoggedInFilter</filter-name>
		<filter-class>it.polimi.tiw.albums.filters.NotLoggedInFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AlreadyLoggedInFilter</filter-name>
		<filter-class>it.polimi.tiw.albums.filters.AlreadyLoggedInFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>NotLoggedInFilter</filter-name>
		<url-pattern>/Home</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NotLoggedInFilter</filter-name>
		<url-pattern>/Album</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NotLoggedInFilter</filter-name>
		<url-pattern>/LogOut</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NotLoggedInFilter</filter-name>
		<url-pattern>/CreateAlbum</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>NotLoggedInFilter</filter-name>
		<url-pattern>/UploadImage</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AlreadyLoggedInFilter</filter-name>
		<url-pattern>/SignUp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AlreadyLoggedInFilter</filter-name>
		<url-pattern>/LogIn</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>Home</welcome-file>
	</welcome-file-list>
</web-app>